
body
{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
/* First navbar */
.nav-btn:hover
{
    margin-top: 2px;
    padding: 5px 0px;
    background-color: white;
    color: #2163E8 !important;
    border-radius: 5px;
    box-shadow: -1px 2px 5px grey;
}
.dark-btn{
    font-size: 1.5rem;
}
.icon-btn{
    font-size: 1.2rem;
}
.icon-btn:hover i
{
    padding-top: 0px;
    font-size: 1.3rem;
    color: blue;
}
.hr-line{
    position: relative;
}
.hr-line::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #80ffce;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;

}

/* second navbar */
.sec-navbar i{
    font-size: 1.5rem;
    color: #2163E8;
}
.sec-navbar i span{
    font-size: 1.6rem;
    padding-left: 7px;
    color: black;
}
.sec-navbar li{
    font-weight: 700;
}
.sec-navbar li:hover .nav-link{
    color: #2560e0 !important;
}
.drop-color:focus{
    color: #2560e0 !important;
}
.drop-color:focus::before{
    content: '•';
}
.right-content i{
    color: gray;
}
.right-content a:hover i{
    color: #2560e0;
}

/* Carousel */
.set-carousel-color{
    background-color: #E8EFFD;
    border-radius: 7px;
}
.custom-btn-primary{
    font-size: 0.85rem;
    font-weight: 600;
    padding: 3px 1rem;
}
.carousel-item p{
    width: 100%;
}

/* hover effect for paragraph */
.underline-hover-effect{
    position: relative;
    padding-bottom: 0.1rem;
    display: inline-block;
    cursor: pointer;
}
.underline-hover-effect::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-out;
    box-shadow: 0px 0px 32px rgb(0, 0, 0);
}
.underline-hover-effect:hover::after{
    width: 100%;
}
.carousel-item .underline-hover-effect::after{
    background-color: black;
    height: 1px;
}

/* Home Body */
.custom-round{
    border-radius: 0.7rem;
}
.custom-absolute{
    position: absolute;
    top: 0;
    left: 0;
}
.gradient-effect{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.7906512946975666) 0%, rgba(2,2,36,0) 78%);
}

.first img,.second img,.third img,.fourth img{
    transition: all 0.4s ease-in;
}
.second{
    width: 100%;
    border-radius: 0.7rem;
    height: 268px;
}
.second:hover{
    background-size: 110%;
}
/* hover effect */
.first:hover .card-img,.second:hover .card-img,.third:hover .card-img,.fourth:hover .card-img{
    transform: scale(1.1);
}
.first .underline-hover-effect::after{
    height: 3px;
}
.first:hover .underline-hover-effect::after,.second:hover .underline-hover-effect::after,.third:hover .underline-hover-effect::after,.fourth:hover .underline-hover-effect::after{
    width: 100%;
}


/* card texts */
.text-shadow{
    text-shadow: 0px 0px 4px #000000;
}
.main-card{    
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.btn-dot{
    padding: 0 0.5rem 0 1.5rem;
    position: relative;
}
.btn-dot::before{
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    margin: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.card-footer{
    padding:0px;
    border-top: 0px;
    background-color: #80808000;

}
.firs .author{
    width: 35%;
}
.author-img{
    width: 22%;
    border-radius: 50%;
}
.by-author{
    padding-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.first .by-author{
    padding-left: 16px;
}
.date,.time-ago{
    width: 9rem;
}
/* hover effect */
.first:hover .author .underline-hover-effect::after,.second:hover .author .underline-hover-effect::after,.third:hover .author .underline-hover-effect::after,.fourth:hover .author .underline-hover-effect::after{
    width: 0%;
}

.author .by-author .underline-hover-effect::after{
    height: 1.2px;
    color: white;
}
.author:hover .by-author .underline-hover-effect::after{
    width: 100%;
}
.card-footer-dot::before{
    height: 5px;
    width: 5px;
    top: 3px;
}

/* Highlight */
.highlight-texts{
    margin-left: -12px;
}
.card {
    border: 0px ;
}
.card-body .card-footer .author{
    width: 40%;
}
.card-body .author-img{
    width: 22%;
}
.card-body .by-author{
    margin-left: 1rem;
}
.card-body h4:after,.author-name::after{
    background-color: #595d69;
    box-shadow: none;
}
.black-footer-dot::before{
    background-color: #595d69;
}
.color-gray{
    color: #595d69;
}


/* trending topic */







@media only screen and (max-width:1200px) {
    .second{
        height: 223px;
    }
}
@media only screen and (max-width:990px) {
    .second{
        height: 300px;
    }
}
@media only screen and (max-width:300px) {
    .second{
        height: 273px;
    }
}
